[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
argparse = "*"
awscli = "*"
boto3 = "*"
botocore = "*"
curses-menu = "*"
pyt = "*"
requests = "*"
termcolor = "*"
